# Python 3.11 only (deepfilterlib ships cp311 wheels). The +cpu torch builds need:
#   pip install -r requirements-prep.txt --extra-index-url https://download.pytorch.org/whl/cpu
# The pins are deliberate: torch 2.2+ removed torchaudio.backend.common (DeepFilterNet
# imports it), setuptools 81+ removed pkg_resources (resemblyzer imports it).
appdirs==1.4.4
audioread==3.1.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
decorator==5.3.1
DeepFilterLib==0.5.6
DeepFilterNet==0.5.6
filelock==3.32.3
fonttools==4.63.0
fsspec==2026.7.0
idna==3.19
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.5.0
lazy-loader==0.5
librosa==0.11.0
llvmlite==0.49.0
loguru==0.7.3
MarkupSafe==3.0.3
matplotlib==3.11.1
mpmath==1.3.0
msgpack==1.2.1
narwhals==2.24.0
networkx==3.6.1
numba==0.67.0
numpy==1.26.4
packaging==23.2
pillow==12.3.0
platformdirs==4.11.3
pooch==1.9.0
pycparser==3.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
requests==2.34.2
Resemblyzer==0.1.4
scikit-learn==1.9.0
scipy==1.17.1
six==1.17.0
soundfile==0.14.0
soxr==1.1.0
sympy==1.14.0
threadpoolctl==3.6.0
torch==2.1.2+cpu
torchaudio==2.1.2+cpu
typing==3.7.4.3
typing_extensions==4.16.0
urllib3==2.7.0
webrtcvad==2.0.10
win32_setctime==1.2.0
setuptools<81
